<fieldset data-hook="credit_card">
  <legend align="center">Transfeuj Transaction</legend>
  <div class="row">
    <div class="alpha six columns">      
      <dl>
        <dt>Payment id:</dt>
        <dd><%= payment.id %></dd>
      </dl>
    </div>

    <div class="omega six columns">
      <dl>
        <dt>Payment Identifier:</dt>
        <dd><%= payment.identifier %></dd>
      </dl>
    </div>    
  </div>

</fieldset>