

    <table id="product-properties" class="table-display" data-hook>
      <tbody>
        <% unless @product_properties.empty? %>  
        <% @product_properties.each do |product_property| %>
          <% if product_property.property.presentation  == "Availability" %> 
            <% product_property.value = @product.master.stock_items.first().count_on_hand %> 
          <% end %> 
          <tr>
            <td><%= product_property.property.presentation %>: <%= product_property.value %></td>
          </tr>
        <% end %>
        <% reset_cycle('properties') %>
        <% end %>
          <tr>
            <td>
              <% if @product.price_in(current_currency) and !@product.price.nil? %>
                <span itemprop="price"><%= @product.price_in(current_currency).display_price %></span>
              <% end %>
            </td>
          </tr>
      </tbody>
    </table>
