<% content_for :sidebar do %>
    <%= render :partial => 'spree/shared/taxonomies' %>
<% end %>

<div data-hook="taxon_products" id="product-container">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon } %>
</div>
