#footer{
	border-top: 2px solid black;
	padding-top: 2em;
	max-width: 1024px;
	margin: 0 auto;
	margin-top: 2em;
}

#footer img{
	max-width: 100%;
}

.footer-content{
	max-width: 1024px;
	display: flex; 
	text-align: center; 

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0; 
		margin-bottom: 0.5em; 
		font-weight: bold; 
		font-size: 18px; 
	}
	p {
		margin-top: 0.1em; 
		margin-bottom: 0.2em; 
	}
	ul {
		text-align: center; 
	}
	address{
		font-style: normal; 
		text-align: left; 
	}

	#map-canvas{
		min-width: 50%; 
		max-width: 50%;
		height: 130px;
	}
	#footer-address{
		-webkit-columns: auto 2;
		   -moz-columns: auto 2;
		        columns: auto 2;
	}
	.footer-column {
		vertical-align: top;
		padding-left: 2em; 
	}
	.footer-column:first-child{
		padding-left: 0; 
	}

}

.footer-header{
	font-family: 'Calibre-Medium';
	font-weight: normal;
	margin-bottom: 0.5em;
	margin-top: 0;
}	


#locale-select{
	opacity: 0;
}

#locale-select:hover{
	opacity: 1;
}
