
.container                                  { position: relative; width:1130px; padding: 0; margin: 0 auto;}
.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                        { margin-bottom: 20px; }

.container .three.columns                   { width: 160px; }
.container .five.columns                    { width: 280px; }
.container .six.columns                     { width: 340px; }
.container .fifteen.columns                 { width: 880px; }


.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}

.row:after,
.clearfix:after {
  clear: both; 
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}



.alpha {
   margin-left: 0;
}

.omega {
   margin-right: 0;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:after {
    clear: both;
}
