<footer id="footer">
  <div id="sidebar"></div>
  <div class="footer-content">


    <div style="width: 150px; height: 150px;" id="map-canvas">
      <a target="_blank" href="https://www.google.pl/maps/preview#!q=Chmielna+10%2C+Warszawa&data=!1m4!1m3!1d2351!2d21.0174787!3d52.2332859!4m11!1m10!4m8!1m3!1d1250699!2d21.1937892!3d52.2475501!3m2!1i1024!2i768!4f13.1!17b1">
        <img style="width:100%;height:100%;" src="http://maps.google.com/maps/api/staticmap?center=52.761861,23.202568&amp;zoom=15&amp;size=300x300&amp;maptype=roadmap&amp;sensor=false&amp;language=&amp;markers=color:white%7Clabel:none%7C52.761861,23.202568">
      </a>
    </div>
    
    <div class="vcard footer_links" style="width:13%;">
      <!-- <span class="fn"><a class="url" href="#">Super Salon:</a></span> --> 
      <div class="adr">
        <!-- <span class="fn">Krzysztof Kowalski</span><br> --> 
        <h4 class="footer-header"> Shop: </h4> 
        <span class="street-address">Chmielna 10</span><br>
        <span class="postal-code">00-020</span>
        <span class="region">Warszawa</span><br>
        <span>Mon – Sat / 11 – 19</span><br/>
        <span class="tel">(+48) 22 468 16 19</span>
        <span class='email'>info@supersalon.org</span>
      </div>

      <br>

      <% if SpreeI18n::Config.supported_locales.size > 1 %>
        <div id="locale-select" style="float: right; margin-right: 10px;" data-hook>
          <%= form_tag(set_locale_path) do %>
            <label for="locale"><%= Spree.t(:'i18n.language') %>:</label>
            <%= select_tag(:locale, options_for_select(supported_locales_options, I18n.locale),
                           :data => { :href => set_locale_path }) %>
            <noscript>
              <%= submit_tag %>
            </noscript>
          <% end %>
        </div>
      <% end %>

    </div>
    
    <div id="footer-pages-deface" class="footer_links legal">
      <h4 class="footer-header"><a href="/info">Info:</a></h4>
      <!-- insert_bottom '#main-nav-bar' -->
    </div>
  	
    <ul class="footer_links offset-by-one">
  		<li>
  			<h4 class="footer-header">Follow:</h4>
  		</li>
  		<li id="facebook-link">
  			<a href="http://facebook.com/supersalonwarsaw">
          @Facebook
  		  </a>
      </li>
  		<li id="instagram-link">
  			<a href="http://instagram.com/supersalon">
          @Instagram
        </a>
  		</li>
    </ul>
 	  
    <div id="mailing_list" style="width:25%;" class="footer_links mailing-list">
<!-- Begin MailChimp Signup Form -->

<div id="mc_embed_signup">
<h4 class="footer-header">Newsletter:</h4>
<span>
  Sign up for our newsletter to get occasional mails about new publications and event to be held in our shop.
</span>
<br/>
<br/>
<form action="http://supersalon.us7.list-manage1.com/subscribe/post?u=0821932f7fabd3f9016571864&amp;id=12f56b859d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  target="_blank" >
  <div id="mce-responses">
    <div class="response" id="mce-error-response" style="display:none"></div>
    <div class="response" id="mce-success-response" style="display:none"></div>
  </div> 
  <input placeholder="your email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
  <br/>
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></input>
</form>
</div>

<script src="http://malsup.github.com/jquery.form.js"></script> 

<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}

var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = err_style;
} else {
  style.appendChild(document.createTextNode(err_style));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://supersalon.us7.list-manage1.com/subscribe/post-json?u=0821932f7fabd3f9016571864&amp;id=12f56b859d&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                      if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                        this.value = '';
                      } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                        this.value = '';
                      } else {
                          if (/\[day\]/.test(fields[0].name)){
                                              this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;                         
                          } else {
                                              this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
                                          }
                                      }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);
      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        $('#mce-'+resp.result+'-response').show();
        $('#mce-'+resp.result+'-response').html(resp.msg);
        $('#mc-embedded-subscribe-form').each(function(){
            this.reset();
      });
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup--> 
    </div>
</div>
</footer>
