<% content_for :sidebar do %>
<% end %>

<div class="overflow_wrapper" data-hook="homepage_products">
  <%= render :partial => 'spree/shared/products', :locals => { :products => @products.reverse } %>
</div>

