<div class="overflow_wrapper" data-hook="homepage_products">
	<%= render :partial => 'spree/blog_entries/blog_entries' %>
</div>

<% content_for :sidebar do %>
  <%= render :partial => 'spree/blog_entries/sidebar_index' %>
<% end %>
